:root {
    --u : 7px;
    --seg-thickness : calc(var(--u) * 2);
    --seg-length : calc(var(--u) * 5);

    --clock-padding : calc(var(--u) * 6);
    --button-gap : calc(var(--u) * 3);
}

html, body {
    margin : 0;
    padding : 0;
    width : 100%;
    height : 100%;
    user-select : none;
}

#flex-container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width : 100%;
    min-height : 100vh;
}

#clock-container {
    position : relative;
    overflow : hidden;
    background-color : black;
    box-shadow: 10.5px 7px 8.5px 5px #dddddd;
    padding : var(--clock-padding) calc(var(--clock-padding) * 1.5);
    border-radius : calc(var(--u) * 2);
}

#pm-dot {
    position : absolute;
    top : calc(var(--clock-padding) / 2.25);
    left : calc(var(--clock-padding) / 2.25);
    width : calc(var(--seg-thickness) * 1.5);
    height : calc(var(--seg-thickness) * 1.5);
    border-radius : 50% !important;
}

#clock {
    display : grid;
    grid-template-columns : auto auto auto auto auto;
    width : max-content;
    height : max-content;
    grid-template-areas : "hours seperator-1 minutes seperator-2 seconds";
    gap : calc(var(--u) * 4);
}

#hours, #minutes, #seconds {
    display : grid;
    grid-template-columns : auto auto;
    grid-template-areas : "digit-one digit-two";
    gap : calc(var(--u) * 2);
}

.digit {
    display : grid;
    width : calc(var(--seg-length) + var(--seg-thickness) * 2);
    height : calc(var(--seg-length) * 2 + var(--seg-thickness) * 3);
    grid-template-areas :
        ". a ."
        "f . b"
        "f . b"
        "f . b"
        ". g ."
        "e . c"
        "e . c"
        "e . c"
        ". d .";
    position : relative;
    gap : calc(var(--u) * 0.15);
}

#seperator-1, #seperator-2 {
    display : grid;
    width : var(--seg-thickness);
    height : calc(var(--seg-length) * 2);
    grid-template-areas :
        ". ."
        ". ."
        "dot-top dot-top"
        "dot-top dot-top"
        ". ."
        "dot-bottom dot-bottom"
        "dot-bottom dot-bottom"
        ". ."
        ". .";
    position : relative;
    gap : calc(var(--u) * 2);
}

#hour-one { grid-area : digit-one; }
#hour-two { grid-area : digit-two; }
#minute-one { grid-area : digit-one; }
#minute-two { grid-area : digit-two; }
#second-one { grid-area : digit-one; }
#second-two { grid-area : digit-two; }

#hours { grid-area : hours; }
#seperator-1 { grid-area : seperator-1; }
#minutes { grid-area : minutes; }
#seperator-2 { grid-area : seperator-2; }
#seconds { grid-area : seconds; }

.a { grid-area : a;}
.b { grid-area : b;}
.c { grid-area : c;}
.d { grid-area : d;}
.e { grid-area : e;}
.f { grid-area : f;}
.g { grid-area : g;}

.dot-top { grid-area : dot-top; }
.dot-bottom { grid-area : dot-bottom; }

.vertical {
    width : var(--seg-thickness);
    height : var(--seg-length);
}

.horizontal {
    width : var(--seg-length);
    height : var(--seg-thickness);
}

.dot {
    background-color : rgb(120, 0, 0);
    width : calc(var(--seg-thickness) * 1.25);
    height : calc(var(--seg-thickness) * 1.25);
    justify-self : center;
    align-self : center;
}

.segment {
    background-color: rgb(120, 0, 0);
    border-radius : calc(var(--seg-thickness) / 4.5);
}

.segment.on {
    background-color: rgb(255, 50, 50) !important;
    box-shadow: 0 0 6px rgb(255, 50, 50, 0.7), 0 0 12px rgb(255, 50, 50, 0.4);
}


.buttons-container {
    display : flex;
    flex-direction : row;
    gap : var(--button-gap);
    justify-content : center;
    align-items : center;
    margin-top : var(--clock-padding);
    overflow : none;
}

.clock-btn {
    display : flex;
    justify-content : center;
    align-items : center;
    cursor : pointer;
    width : calc(var(--seg-length) * 3.5);
    height : calc(var(--seg-thickness) * 4);
    padding : var(--u);
    border : none;
    border-radius: calc(var(--u) * 1.5);
    font-size: calc(var(--u) * 3);
    background-color : grey;
}

.clock-btn:hover {
    background-color : #919191;
}

.clock-btn:active {
    background-color : #b5b5b5;
}

.clock-btn img {
    width : 35%;
}

#alarm-btn {
    font-size: calc(var(--u) * 4) !important;
}

#toggle-seconds-btn, #toggle-time-format-btn {
    font-size: calc(var(--u) * 3.5) !important;
}